.App {
  min-height: 100vh;
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: #EEEEEE;
}

.footer {
  display: flex;
  justify-content: center;
  /* background-color: ; */
  font-size: calc(0.5rem + 1vw);
}