.App {
  min-height: 100vh;
  font-size: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: #EEEEEE;
}

.footer {
  display: flex;
  justify-content: center;
  /* background-color: ; */
  font-size: calc(0.5rem + 1vw);
}

.slideOutItem {
  animation: slideLeft 1s;
  animation-fill-mode: forwards;
}
.slideInItem {
  animation: slideIn 1.5s;

  animation-fill-mode: forwards;
}


@keyframes slideIn {
  from {
    opacity: 0%;
    -webkit-transform: translateY(-100%);
  }
  to {
    opacity: 100%;
    transform: none;
    display: block;
  }
}
@keyframes slideLeft {
  from {transform: none;}

  to {opacity: 0%;
      display: none;
      -webkit-transform: translateX(-100%);
    }
}