.image {
  max-height: 250px;
  max-width: 150px;
  border-radius: 10%;
  margin: 0rem 2rem 2rem 2rem;
}
.text {
  text-align: left;
  font-size: calc(5px + 1.2vw)
}
.textBox {
   flex: 1;
}
.imageBox {
  flex: 2;
}
.aboutWrapper {
  display: block;
  text-align: left;
  margin: 2rem;
  padding: 3rem 5vw 3rem 5vw;
}
.contentBox {
  margin-top: calc(1rem + 1vh);
  display: flex;
}
.largeTitle {
  margin: 0px;
  font-size: calc(5px + 2vw);
}
.smallTitle {
  margin: 0px;
  color: darkgray;
  filter: brightness(60%);
  font-size: calc(5px + 1vw);
}
.highlight { 
  color: #00ADB5;
  filter: brightness(100%);
}