.displayItem {
  display: block;
  padding: 2rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.content {
  display: flex;
}

.title {
  font-size: calc(10px + 1.5vw);
}

.text {
  font-size: calc(5px + 1vw);
}

.informationContent {
  flex: 1;
}

.imageContent {
  display: flex;
  justify-content: center;
  flex: 1;
}


.technologyItems {
  color: #00ADB5;
  text-align: left;
  font-size: calc(2px + 1vw);
}

.icon {
  display: flex;
  justify-content: left;
}

.linkIcons {
  margin-right: 1.5rem;
  transition: color 500ms;
  color: #00565a;
}
.linkIcons:hover {
  color: darkblue;
}

.slideFromRightBox {
  animation: slideFromRight 1.2s ease-out;

}

.slideFromLeftBox {
  animation: slideFromLeft 1.2s ease-out ;

}

@keyframes slideFromRight {
  from {transform: translateX(10%);
        opacity: 25%;}

  to {transform: translateX(0%);
  opacity: 100%;
}

}

@keyframes slideFromLeft {
  from {transform: translateX(-10%)}

  to {transform: translateX(0%)}

}