.displayBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 1rem 10vw 0rem 10vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color:#c7d0d9;
  border-radius: 1%;
  animation: fadeIn 700ms;
}

.header {
  font-size: calc(10px + 2vw);
  margin-left: 1.5rem;
}
@keyframes fadeIn {
  from { opacity: 15%;}
  to {opacity: 100%; }
}