.text {
  text-align: center;
  font-size: calc(2rem + 1vw);
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;

}
.botBorder {
  background-color: seashell;
  border-bottom: solid black 2px;
  box-shadow: darkturquoise 0rem 0.2rem 2rem;
}