.name {
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: calc(0.75rem + 1vw);

}
.rightItems {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-right: 2rem;
}

.header {
  transition: all 200ms;
  font-size: calc(0.5rem + 1vw);
  padding: 2rem;
  background-color: transparent;
  border: none;
}
.header:hover {
  -webkit-filter: brightness(50%);
}
.leftItems {
  margin-left: 2rem;
} 