.sideBarWrapper {
  top: 0em;
  position: fixed;
  display: flex;
  float: left;
  text-align: center;
  height: 100vh;
}
.sideBarContainer {
  position: relative;
  background-color: indigo;
  padding: 1.2rem;
  z-index: 1;
  

}
.sideBarPopupContainer {
  background-color: violet;
  padding-left: .75em;
  z-index: 0;
}
.hide {
  animation: 0.5s ease-out 0s slideOut;
  animation-fill-mode: forwards;
}
.display {
  animation: 0.5s ease-out 0s slide;
  animation-fill-mode: forwards;
}
.sideBarItem {
  font-size: 1.2rem;
  margin: 1.2rem 0rem 1.2rem 0rem;
  display: flex;
  justify-content: center;
}



@keyframes slide {
  0%   {transform: translateX(-200px);
        display: flex; }

  100%    {transform: none; }

}
@keyframes slideOut {
  0%      {transform: none; }

  100%    {transform: translateX(-200px);
          display: none; }

}