.sideBarWrapper {
  top: 4em;
  position: fixed;
  display: flex;
  float: left;
  text-align: center;
  height: fit-content;
}
.sideBarContainer {
  position: relative;
  background-color: #7374a2;
  z-index: 1;
  

}
.sideBarPopupContainer {
  background-color: #676891;
  padding-left: 0.2rem;
  z-index: 0;
}
.sideBarItem {
  font-size: 1rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  
}
.sideBarItem:hover {
  filter: brightness(85%);
}

.image {
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: 30px;
}


@keyframes slide {
  0%   {transform: translateX(-200px)}

  100%    {display: block; }

}
@keyframes slideOut {
  0%      {display: block }

  99%    {transform: translateX(-200px);}
  100% {  opacity: 0; visibility: hidden;}

}

.hide {
  animation: slideOut 300ms;
  animation-fill-mode: forwards;
}

.display {
  animation: slide 200ms;
}